<!DOCTYPE html>
<html>
  <head>
    <title>Edit Book</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="page-layout">

      <header>
        <%- include('../partials/_navbar') %>
      </header>

      <main>
        <div class="container">
    <h1>Edit Book</h1>
    <form action="/books/<%= book._id %>?_method=PUT" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= book.title %>" required /><br />

      <label for="author">Author:</label>
      <input type="text" id="author" name="author" value="<%= book.author %>" required /><br />

      <label for="genre">Genre:</label>
      <input type="text" id="genre" name="genre" value="<%= book.genre %>" required /><br />

      <label for="pages">Total Pages:</label>
      <input type="number" id="pages" name="pages" min="1" value="<%= book.pages %>" required /><br />

      <label for="pagesRead">Pages Read:</label>
      <input type="number" id="pagesRead" name="pagesRead" min="0" value="<%= book.pagesRead %>" required /><br />

      <label for="rating">Rating (1-5):</label>
      <input type="number" id="rating" name="rating" min="1" max="5" value="<%= book.rating %>" /><br />

      <label for="status">Status:</label>
      <select id="status" name="status" required>
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
      
      </select><br /> 
      <input type="submit" value="Update Book" />
    </form>
    </div>
    </main>
    </div>
  </body>
</html>